@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

body {
    position: relative;
    margin: 0;
    padding: 0;
    background: #011627;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#console-main {
    position: absolute;
    top: 0;
    left: 0;
    flex: 1;
    min-width: 0;
    height: 100%;
    color: #eeefff;
    font-family: Consolas, "Courier New", Courier, "Noto Sans JP", monospace;
}

#status-display {
    width: 400px;
    height: 100%;
    display: none;
    flex-shrink: 0;
}
